<h1 mat-dialog-title>Editar carro</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="flex-col width90 center">
    <mat-form-field class="displayNone" appearance="fill" display="none">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" name="id" value="{{data.id}}">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Carro:</mat-label>
      <input maxlength="18" matInput formControlName="nomeCarro" name="nomeCarro" value="{{data.nome}}">
      <mat-error *ngIf="form.hasError('required')">Nome não selecionado</mat-error>
    </mat-form-field>

     <mat-form-field class="div-input">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipoSelect"  name="tipoSelect" required value="selected">
        <mat-option >None</mat-option>
        <mat-option *ngFor="let tipo of tiposCarros" [value]="tipo.id">{{tipo.nome}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.hasError('required')">Tipo não selecionado</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Portas:</mat-label>
      <input matInput formControlName="portasInput" name="portasInput" value="{{data.portas}}">
      <mat-error *ngIf="form.hasError('required')">Este campo é obrigaório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Número de Pessoas:</mat-label>
      <input matInput formControlName="nPessoasInput" name="nPessoasInput" value="{{data.npessoas}}">
      <mat-error *ngIf="form.hasError('required')">Este campo é obrigaório</mat-error>
    </mat-form-field>

    <mat-form-field class="div-input">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="locadoraSelect"  name="locadoraSelect" required value="selected">
        <mat-option >None</mat-option>
        <mat-option *ngFor="let locadora of locadoras" [value]="locadora.id">{{locadora.nome}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.hasError('required')">Tipo não selecionado</mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions class="center">
  <button mat-button (click)="onNoClick()" class="excluir">Cancelar</button>
  <button mat-button (click)="updateElement()" class="editar" [ngClass]="{'BtnCadastrarDisable':!form.valid}" [disabled]="!form.valid">Atualizar</button>
</div>