main{
  margin:20px auto;

  max-width:1137px ;
}

section{
  margin-top:70px;
}

.fildset_form{
  border: 1px solid #9F9999;
  border-radius: 10px;
}

.titleCarros{
  margin-top:30px ;
}
.card{
  height: 600px;
  max-width: 352px;
  margin-top:20px;
  //box-sizing: border-box;
  border:1px solid #C6C4C4;
}

.btns-card{
  display: flex;
  flex-direction: column;
}


.btn{
  margin-top: 10px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: #DCE0E2;
    border: 1px solid #DCE0E2;
    border-radius: 10px !important;
    font-size: larger;
    margin: 15px 0px;
    height: 50px;
  }

  .widthLocadora{
    width: 70%;
  }
