main{
  margin:20px auto;
  font-family: 'Montserrat';
  max-width:1137px ;
}

section{
  margin-top:70px;
}

.fildset_form{
  border: 1px solid #9F9999;
  font-family: 'Montserrat';
  border-radius: 10px;
  padding-bottom:40px ;
}

.titleCarros{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 40px;
  margin-top:30px ;
  // margin-bottom:50px ;
}

.div-line{
  width: 60%;
  border-top:solid 1px
}

.card{
  height: 300px;
  width: 200px;
  margin-top:20px;
  //box-sizing: border-box;
  border:1px solid #C6C4C4;
}

.btns-card{
  display: flex;
  flex-direction: column;
}

.input{
  font-family: 'Montserrat';
  font-size: 15px;
  margin-top: 10px;
}

.flex{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.spc-around{
  justify-content: space-around;
}

.spc-between{
  justify-content: space-between;
}

.txt-left{
  text-align: left;
}

.txt-center{
  text-align: center;
}

.center{
  align-items: center;
  align-content: center;
  justify-content: center;
}

.wrap{
flex-wrap: wrap;
}

.width400px{
  width: 400px;

}

.width100{
  width: 100%;
}

.width90{
width: 90%;
}

.width50{
  width: 50%;
}

.width48{
  width: 48%;
}

.marginAuto{
  margin:auto;
}

// ::ng-deep .mat-form-field .mat-form-field-flex{//muda a cor somente da da parte do input
//   background: #DCE0E2;
//   height: 50px;
// }


// ::ng-deep .mat-form-field-underline:focus,
// ::ng-deep .mat-form-field-underline:hover{
//   display:inline-block;
// }

// ::ng-deep .mat-form-field-ripple{//cor do underline quando tem o hover
//   background-color: black;
// }
// ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{ //cor do underline  quando seleciona
//   background-color: black;
// }
// ::ng-deep .mat-form-field-underline::before{//cor do underline antes de clicar/inicia a pagina
//   background-color: #DCE0E2 !important;
// }

.widthLocadora{
  width: 70%;
}

.tipoTitle{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  margin-top:40px;
  width: 60%;
  border-bottom: 1px solid;
}

/////////////
.mat-card{

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s linear;
  width: 352px;
  height: 510px;
}

.mat-card h2{
  font-family: 'Montserrat';
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}


.mat-card p{
  font-family: 'Montserrat';
  align-self: center;
  width: 250px;
  text-align: left;
  font-size: 20px;
}


.imgCarro{
  width: 350px;
  height: 200px;
}

.mat-card:hover{
  transition: all 0.2s linear;
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 12px 18px rgba(0,0,0,0.11);
  border: 1px solid #DB1812;
}

.btnEditar, .btnExcluir{
  margin-top: 15px;
  width: 250px;
}









////////////////////////////////////////////////////////////////
// ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
//     background: #DCE0E2;
//     border: 1px solid #DCE0E2;
//     border-radius: 10px !important;
//     font-size: larger;
//     margin: 15px 0px;
//     height: 50px;
//   }

//Controle da linha do underline
// ::ng-deep .mat-form-field-underline{//Apaga a underline
//   //display: none;
// }

// .imgCarro{

//   //width: auto;
//   //max-height:160px;

// }

//Cor do label
// ::ng-deep .mat-form-field-label-wrapper label{//cor inicial da label
//   color:black;
// }
// ::ng-deep .mat-form-field.mat-focused .mat-form-field-label{//cor do label quando o field for  selecionado
//   color: #9F9999;
// }

// ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {//cor do label quando o field esta em erro
//   //color: rgb(250, 0, 250);
// }