<app-header></app-header>
<main>
  <section >

    <fieldset class="fildset_form" >
      <form [formGroup]="form" class="flex-col center width90 marginAuto" >
        <h2 class="titleCarros">Carros</h2>

        <mat-form-field class="width100 tamanhoInput input"  appearance="fill">
          <mat-label>Nome do Carro</mat-label>
          <input matInput formControlName="carroNomeInput" name="carroNomeInput" placeholder="Nome do carro" class="">
          <mat-error *ngIf="form.get('carroNomeInput')?.hasError('required')">
          Este campo é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="width100 input" appearance="fill">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipoSelect"  name="tipoSelect" required>
            <mat-option >None</mat-option>
            <mat-option *ngFor="let tipoCarro of tiposCarros" [value]="tipoCarro.id">{{tipoCarro.nome}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('tipoSelect')?.hasError('required')">Tipo não selecionado</mat-error>
        </mat-form-field>

        <div class="flex spc-between width100 " appearance="fill">
          <mat-form-field class="width48 input" appearance="fill">
            <mat-label>Quantidade de portas</mat-label>
            <input matInput type="number" formControlName="portasInput" name="portasInput" placeholder="Ex. 4" class="input-border inp">
            <mat-error *ngIf="form.get('portasInput')?.hasError('required')">
            Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="width48 input" appearance="fill">
            <mat-label>Pessoas</mat-label>
            <input matInput formControlName="nPessoaInput" name="nPessoaInput" placeholder="Ex. 5" class="input-border inp">
            <mat-error *ngIf="form.get('nPessoaInput')?.hasError('required')">
            Este campo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

        </div>

        <div class="flex spc-between width100">
          <mat-form-field class="widthLocadora input" appearance="fill">
            <mat-label>Locadora</mat-label>
            <mat-select formControlName="locadoraSelect"  name="locadoraSelect" required>
              <mat-option >None</mat-option>
              <mat-option *ngFor="let locadora of locadoras" [value]="locadora.id">{{locadora.nome}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('locadoraSelect')?.hasError('required')">Locadora não selecionada</mat-error>
          </mat-form-field>

          <button class="btnCadastrar"  (click)="salvarCarro()" [ngClass]="{'BtnCadastrarDisable':!form.valid}" [disabled]="!form.valid">Cadastrar</button>
        </div>
      </form>

    </fieldset>
  </section>

  <section>
    <div *ngFor="let tipo of tiposCarros" class="cardsCarros">
      <h2 class="tipoTitle">{{tipo.nome}}</h2>
      <div class="flex spc-between">
        <ng-container  *ngFor="let carro of carros,let i = index" >

          <mat-card class="card" *ngIf="carro.tipoCarroId == tipo.id ">
            <img class="imgCarro" *ngIf="carro.tipoCarroId==1" src="../../../assets/carros/car3_2.png" alt="Foto do carro {{carro.nome}}">
            <img class="imgCarro" *ngIf="carro.tipoCarroId==2" src="../../../assets/carros/car2_1.png" alt="Foto do carro {{carro.nome}}">
            <img class="imgCarro" *ngIf="carro.tipoCarroId==3" src="../../../assets/carros/car1_1.png" alt="Foto do carro {{carro.nome}}">
            <!-- <img class="imgCarro" src="../../../assets/carros/vazio.jpg" alt="Foto do carro"> -->

              <div>
                <h2>{{carro.nome}}</h2>
              </div>

              <div>
                <p>Faca sua reserva e garanta a locação do automóvel.</p>
              </div>

            <div class="btns-card">
              <button class="btnEditar"  *ngIf="adm" (click)="editarCarro(carro)">Editar</button>
              <button class="btnExcluir" *ngIf="adm" (click)="excluirCarro(carro)">Excluir</button>
              <button class="btnEditar" *ngIf="!adm" (click)="excluirCarro(carro)">Reservar</button>
            </div >
          </mat-card>


        </ng-container>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>

