<footer>
    <div class="footerConteiner">
        <div class="box1">

            <div class="boxLink">
                <a href=""> Política de Segurança</a>
                <a href=""> Trabalhe Conosco </a>
                <a href=""> PROCON </a>
            </div>

            <div class="boxContato">
                <p>
                    31 99999 9666 - contato@divinafashion.com
                </p>
                
                <p>
                    AV. Principal, 123 . BH/MG
                </p>
            </div>

        </div>

        <div class="box2">

            <div class="box2Img">
                <img src = "../../../assets/logos/instagram.png" alt="Logo instagram, visite-nos">
                <img src = "../../../assets/logos/facebook.png" alt="Logo facebook, visite-nos">
                <img src = "../../../assets/logos/twitter.png" alt="Logo twitter, contate-nos">
            </div>

            <div class="box2P">
                <p>
                    Todos os direitos reservados
                </p>
            </div>

        </div>
    </div>
</footer>

