footer{
    width: 100%;
    height: 328px;
    background: #CAD0D3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerConteiner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.box1{
    display: flex;
    flex-direction: column;
    width: 66%;
    
}

.boxLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 80px;
    margin-right: 45px;
    padding-left: 30%;
}



.boxLink a{
    color: black;
    border-bottom: 1px solid black;
}

.boxContato{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 45px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;

}

.boxContato a{
    text-decoration: none;
    color: black;
}


.box2{
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    height: 250px;
    padding-top: 8px;
    align-content:space-between;
    align-items: center;
    justify-content: center;
    // padding-left: 42px;
    // margin-left: 50px;
}

.box2 img{
    height: 60px;
    width: 60px;
}

.box2Img{
    display: flex;
    gap: 62px;
    margin-left: 142px;
    margin-right: 142px;
    margin-bottom: 79px;
}

.box2P{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2P p{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
}