<footer>
    <div class="footerConteiner">
        <div class="box1">
            <div class="boxLink">

                <div>
                    <a href="https://www.docusign.com.br/blog/politica-de-seguranca-da-informacao-saiba-como-e-por-que-desenvolve-la"> Política de Segurança</a>
                </div>
                
                <div>
                    <a href="https://www.brq.com/carreira/"> Trabalhe Conosco </a>
                </div>
                
                <div>
                    <a href="https://www.procon.sp.gov.br/"> PROCON </a>
                </div>

            </div>

            <div class="boxContato">
                <a href="https://www.google.com.br/maps/place/Av.+Principal,+123+-+Nova+Contagem,+Contagem+-+MG,+32050-806/@-19.8184919,-44.1489596,17z/data=!3m1!4b1!4m5!3m4!1s0xa6ec4f62066b6f:0xe3a01d69a0d0cba3!8m2!3d-19.8184919!4d-44.1467709">
                    <p>
                        31 99999 9666 - contato@divinafashion.com
                    </p>
                    
                    <p>
                        AV. Principal, 123 . BH/MG
                    </p>
                </a>
            </div>
        </div>

        <div class="box2">

            <div class="box2Img">
               <a href="https://www.instagram.com/brqdigital/"> <img src = "../../../assets/logos/instagram.png" alt="Logo instagram, visite-nos"> </a>
               <a href="https://www.facebook.com/brqdigital/"> <img src = "../../../assets/logos/facebook.png" alt="Logo facebook, visite-nos"> </a>
               <a href="https://twitter.com/brqdigital"> <img src = "../../../assets/logos/twitter.png" alt="Logo twitter, contate-nos"> </a>
            </div>

            <div class="box2P">
                <p>
                    Todos os direitos reservados
                </p>
            </div>

        </div>
    </div>
</footer>

