<footer>
    <div class="footerConteiner">
        <div class="box1">
            <div class="boxLink">

                <div>
                    <a href="https://gestaodesegurancaprivada.com.br/politica-de-seguranca-da-informacao-psi-o-que-e-objetivos-e-importancia/"> Política de Segurança</a>
                </div>
                
                <div>
                    <a href="https://www.brq.com/carreira/"> Trabalhe Conosco </a>
                </div>
                
                <div>
                    <a href="https://www.procon.sp.gov.br/"> PROCON </a>
                </div>

            </div>

            <div class="boxContato">
                <a href="https://www.google.com.br/maps/place/Belo+Horizonte,+MG/@-19.9025412,-44.03409,12z/data=!3m1!4b1!4m5!3m4!1s0xa690cacacf2c33:0x5b35795e3ad23997!8m2!3d-19.919052!4d-43.9386685">
                    <p>
                        31 99999 9666 - contato@divinafashion.com
                    </p>
                    
                    <p>
                        AV. Principal, 123 . BH/MG
                    </p>
                </a>
            </div>
        </div>

        <div class="box2">

            <div class="box2Img">
               <a href="https://www.instagram.com/brqdigital/"> <img src = "../../../assets/logos/instagram.png" alt="Logo instagram, visite-nos"> </a>
               <a href="https://www.facebook.com/brqdigital/"> <img src = "../../../assets/logos/facebook.png" alt="Logo facebook, visite-nos"> </a>
               <a href="https://twitter.com/brqdigital"> <img src = "../../../assets/logos/twitter.png" alt="Logo twitter, contate-nos"> </a>
            </div>

            <div class="box2P">
                <p>
                    Todos os direitos reservados
                </p>
            </div>

        </div>
    </div>
</footer>

