section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
}

.box1Perfil{
    height: 805px;
    width: 1137px;
    border-radius: 10px;
    background: white;
    border: 1px solid #9F9999;
    margin-top: 3%;
    
}

.titlePerfil{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

mat-card-title{
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 3%;
}

.formPerfil{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%; 
}

mat-form-field{
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    margin-bottom: 1%;
}

mat-form-field input{
    height: 45px;
    width: 953px;
    border-radius: 10px;
    background: #DCE0E2;
    font-size: larger;
    
}

.containerBotao{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    gap: 3%
}

.botaoEditarPerfil{
    height: 70px;
    width: 250px;
    border-radius: 5px;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    color: white;
    background: #DB1812;
    text-align: center;
    border: 1px solid #DB1812;
}

.botaoEditarPerfil:disabled{
    background-color: #9F9999;
    border: 1px solid #9F9999;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: #DCE0E2;
    border: 1px solid #DCE0E2;
    border-radius: 10px !important;
    font-size: larger; 
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    display: none !important;
 
}

//-------------- style da div - box2

.box2Perfil{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tituloCadastrados{
    display: flex;
    width: 1137px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.tituloCadastrados h2{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid gray;

}

.cardsPerfil{
    display: flex;
    flex-direction: column;
}

.cardsPerfil mat-card{
    display: flex;
    width: 1137px;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
    align-items: baseline;
    border: 1px solid gray;
}

.cardsPerfil mat-card h3{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 200;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.cardsPerfil mat-card p{
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.botaoExcluirUsuario{
    height: 70px;
    width: 250px;
    border-radius: 5px;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color:#DB1812;
    border: 2px solid #DB1812


}

.botaoCard{
    width: 1137px;
    display: flex;
    border: none;
    background-color: white;
    justify-content: space-between;
    align-items: baseline;
}

//------------ Cor do Spinner 
:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
    stroke:#DB1812 !important;
}

.spinner{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 998;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }


