<app-header></app-header>

<section>
    <div class="container">
        <mat-card class="box1Perfil">
            <mat-card-content>
                <div class="titlePerfil">
                    <mat-card-title> Perfil </mat-card-title>
                </div>

                <form [formGroup]="formularioPerfil">
                    <div class="formPerfil">
                            <mat-form-field appearance="fill" class="input">
                                <mat-label>Nome</mat-label>
                                <input formControlName="nome" matInput type="text" name="nome" placeholder="Maria de Fátma Muniz">
                                <mat-error>{{error}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="input">
                                <mat-label>Telefone</mat-label>
                                <input formControlName="tel" matInput type="text" name="tel" placeholder="(11) 9999-9090">
                                <mat-error>{{error}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="input">
                                <mat-label>E-mail</mat-label>
                                <input formControlName="email" matInput type="text" name="email" placeholder="maria@gmail.com">
                                <mat-error *ngIf="formularioPerfil.get('email')?.hasError('required') || formularioPerfil.get('email')?.hasError('email')"> {{validaEmail()}} </mat-error>
                            </mat-form-field>

                            <div class="containerBotao">
                                <div>
                                    <button type="submit" class="btnCadastrar" [disabled]="!formularioPerfil.valid" (click)="editarPerfil()"> Cadastrar </button>
                                </div>
                                <div>
                                    <button *ngIf="adm" type="submit" class="btnExcluir" (click)="excluirUsuarioComum()">Excluir Cadastro</button>
                                </div> 
                            </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="box2Perfil" *ngIf="adm">

        <div class="tituloCadastrados">
            <h2> USUÁRIOS CADASTRADOS </h2>
        </div>


        <div class="cardsPerfil">

            <mat-card *ngFor="let usuario of usuarios">

                <button class="botaoCard" (click)="puxarParaInput(usuario)" >

                    <div>
                        <h3>{{usuario.nome}}</h3>
                    </div>

                    <div>
                        <p>{{usuario.telefone}}</p>
                    </div>

                    <div>
                        <p>{{usuario.email}}</p>
                    </div>

                    <div>
                        <button class="btnExcluir" (click)="excluirUsuario(usuario.id)" >Excluir usúario</button>
                    </div>
                </button>
            </mat-card>

        </div>

    </div>

    <div class="spinner" *ngIf="loading | async" >
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</section>

<app-footer></app-footer>
