<main>
  <!-- //só vai aparecer nas paginas:carros,reservas,locadora,perfil -->
  <nav *ngIf="router.routerState.snapshot.url == '/carros' || router.routerState.snapshot.url == '/reservas' || router.routerState.snapshot.url == '/locadora' || router.routerState.snapshot.url == '/perfil'" >
    <ul>
      <li><a href="../home" >Home</a></li>
      <li><a href="../carros">Carros</a></li>
      <li><a href="../reservas">Reservas</a></li>
    </ul>
  </nav>
  <img src="../../../assets/logos/Group 1.png">
    <!-- //só vai aparecer nas paginas:carros,reservas,locadora,perfil -->
  <nav *ngIf="router.routerState.snapshot.url == '/carros' || router.routerState.snapshot.url == '/reservas' || router.routerState.snapshot.url == '/locadora' || router.routerState.snapshot.url == '/perfil'" >
    <ul>
      <li><a href="../locadora">Locadoras</a></li>
      <li><a href="../perfil">Perfil</a></li>
      <li><a href="../home">Sair</a></li>
    </ul>
  </nav>
</main>
