<div id="containerHome">
    <div id="banner">
        <div id="containerLogo">
            <img id="logoHome" src="../../../assets/logos/Group 2.png" alt="logo LocCar">
        </div>
        <div id="botoes">
            <button class="btnLogin" mat-raised-button >Login</button>
            <button class="btnCadastrar" mat-raised-button >Cadastrar</button>
        </div>        
    </div>
    <h1>Carros Ofertados</h1>
    <div id="containerCard" >
        <div class="card">
            <img class="imgCarro" src="../../../assets/imagens/car3 2.png" alt="Imagem de carro econômico">
            <h2>Econômico</h2>
            <p>Veículos baratos para atender todas os orçamentos!</p>
        </div>
        <div class="card">
            <img class="imgCarro" src="../../../assets/imagens/car2 1.png" alt="Imagem de carro Especial">
            <h2>Especial</h2>
            <p>Carros para toda e qualquer necessidade!</p>
        </div>
        <div class="card">
            <img class="imgCarro" src="../../../assets/imagens/car1 1.png" alt="Imagem de carro Luxo">
            <h2>Luxo</h2>
            <p>Para aqueles que preferem alugar com estilo!</p>
        </div>
    </div>
</div>
<app-footer></app-footer>