<app-header></app-header>
<main>
  <mat-card class="card_login">
    <mat-card-title>
      <h1 class="title">Login</h1>
    </mat-card-title>
    <form [formGroup]="formularioLogin" (ngSubmit)="LoginUsuario()" >
      <mat-form-field appearance="fill" class="input">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email"  type="text" name="email" required>
        <mat-error *ngIf="formularioLogin.get('email')?.hasError('required') || formularioLogin.get('email')?.hasError('email')"  >{{validacaoEmail()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="input">
        <mat-label>Senha:</mat-label>
        <input matInput type="password" formControlName="senha" name="senha" required>
        <mat-error *ngIf="formularioLogin.get('senha')?.hasError('required') " >{{Validacao()}}</mat-error>
      </mat-form-field>

      <div class="div_btn">
        <button type="submit" color="warn" class="btnLogin">Login</button>
      </div>
      <div class="google">

        <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>

        <!-- <div *ngIf="user">
          <img src="{{ user.photoUrl }}" referrerpolicy="no-referrer">
          <h4>{{ user.name }}</h4>
          <p>{{ user.email }}</p>
        </div> -->
      </div>

    </form>
    <div class="links">
      <a mat-button routerLink="../cadastro">Crie sua conta aqui!</a>
    </div>
  </mat-card>
</main>
<app-footer></app-footer>
