<div class="fechar">
  <button (click)="onNoClick()" class="btn_fechar">
    <mat-icon aria-hidden="false" aria-label="Fechar o dialog" fontIcon="close"></mat-icon>
  </button>
</div>
<!-- <h1 mat-dialog-title>REservar carro</h1> -->
<div mat-dialog-content class="dialog-content flex-col spc-between">
  <!-- <form [formGroup]="formReserva" class="flex-col width90 center"> -->
  <form class="flex-col width100 center">
    <div class="editarDistancia">
      <img src="../../../assets/imagens/car3 2.png" alt="Imagem de carro popular" *ngIf="data.tipoCarroId==1">
      <img src="../../../assets/imagens/car2 3.png" alt="Imagem de carro popular" *ngIf="data.tipoCarroId==2">
      <img src="../../../assets/imagens/car1 2.png" alt="Imagem de carro popular" *ngIf="data.tipoCarroId==3">
    </div>

    <div class="informacao_titulo">
      <h2  ><strong>{{data.nome}}</strong></h2>
    </div>

    <div class="div--background width90">
      <p class="informacao">{{data.portas}} Portas</p>
    </div>
    <div class="div--background width90">
      <p class="informacao" >{{data.npessoas}} Pessoas</p>
    </div>
    <div class="div--background width90">
      <p class="informacao" >Locadora {{locadoraTexto}}</p>
    </div>

  </form>
  <div  mat-dialog-actions class="editarDistancia">
    <button  (click)="reservar()" class="btnEditar" >Reservar</button>
  </div>
</div>
