section{
    width: 100%;
    height: auto;
    margin-bottom: 165px;
}

section div{
    display: flex;
    justify-content: center;
}

mat-card{
    width: 790px;
    // height: 825px;
    border-radius: 10px;
    margin-bottom: 3%;
    border: 1px solid #9F9999
}

.titleCadastro{
    margin-bottom: 3%;
}

mat-card-title{
    font-family: 'Quicksand';
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}


.formCadastro{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
}

mat-form-field{
    font-family: 'Quicksand';
    font-size: 20px;
}

// mat-form-field input{
//     width: 669px;
//     border-radius: 10px;
//     font-family: Quicksand;
//     font-size: 24px;
//     font-weight: 400;
//     line-height: 30px;
//     letter-spacing: 0em;
//     text-align: left;
// }

.containerBotao{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.containerBotao a{
    margin-top: 5%;
    text-decoration: none;
    color: #DB1812;
}

.containerBotao a:hover{
    text-decoration:underline;
}

.containerBotao button{
    text-align: center;
    height: 70px;
    width: 250px;
    border-radius: 5px;
    background: #DB1812;
    color: white;
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    
}

.containerBotao button:disabled{
    background-color: gray;
    border: 1px solid gray;
    transform: translateY(0) scale(1) translateZ(0);
    box-shadow: none;
    cursor:auto;
}

.spinner{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 998;
    background-color: rgba($color: #000000, $alpha: 0.3);
}
//////////////////////////

// ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
//     background: #DCE0E2;
//     border-radius: 10px !important; 
// }

// ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
//     display: none !important;
 
// }

// //------------ Cor do Spinner 
// :host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle{
//     stroke:#DB1812 !important;
// }
