<app-header></app-header>
<section>
    <div>
        <mat-card>
            <mat-card-content>
                <div class="titleCadastro">
                    <mat-card-title> Cadastrar </mat-card-title>
                </div>
                
                <form [formGroup]="formularioCadastro" (ngSubmit)="salvarDadosUsuario()">
                    
                    <div class="formCadastro">
                        <mat-form-field appearance="fill">
                            <mat-label>Nome completo</mat-label>
                            <input formControlName="nome" matInput type="text" name="nome" placeholder="Digite o nome completo" required>
                            <mat-error>{{error}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Telefone</mat-label>
                            <input formControlName="tel" matInput type="text" name="tel" placeholder="(DD)+Numero" required>
                            <mat-error>{{error}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>E-mail</mat-label>
                            <input formControlName="email" matInput type="text" name="email" placeholder="Exemplo@exemplo.com" required>
                            <mat-error *ngIf="formularioCadastro.get('email')?.hasError('required') || formularioCadastro.get('email')?.hasError('email')"> {{validaEmail()}} </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Senha</mat-label>
                            <input formControlName="senha" matInput type="password" name="senha" placeholder="Digite uma senha" required>
                            <mat-error *ngIf="formularioCadastro.get('confirmarSenha')?.hasError('camposDivergentes')" >{{validaSenhas()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Confirmar Senha</mat-label>
                            <input formControlName="confirmarSenha" matInput type="password" name="confirmarSenha" placeholder="Digite novamente a senha" (keyup)="validaSenhas()" required>
                            <mat-error>{{error}}</mat-error>
                        </mat-form-field>
                    </div>
                    
                    <div class="containerBotao">
                        <!-- <a routerLink="../perfil"> //esta redirecionando antes de salvar -->
                            <button mat-button type="submit" [disabled]="!formularioCadastro.valid"  > Cadastrar </button>
                            <a routerLink="../login">já tenho um cadastro</a>
                        <!-- </a>                                                                 *ngIf=""  formularioCadastro.valid == router.routerState.snapshot.url == '/perfil'           -->
                    </div>
                     
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="spinner" *ngIf="loading | async" >
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

</section>
<app-footer></app-footer>