<div class="fechar">
  <button (click)="onNoClick()" class="btn_fechar">
    <mat-icon aria-hidden="false" aria-label="Fechar o dialog" fontIcon="close"></mat-icon>
  </button>
</div>

<div mat-dialog-content class="dialog-content flex-col spc-between">

  <p>{{data}}</p>

  <div mat-dialog-actions class="flex spc-between divaction btnDiv">
    <button  mat-button   (click)="onNoClick()" class="btnExcluir">Cancelar</button>
    <button mat-button    (click)="confirmExclude()" class="btnLogin" align:end >Confirmar</button>
  </div>

</div>
