.fechar{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-right: -20px;
  margin-top: -20px;

}
.btn_fechar{
  position: absolute;
  background-color: rgba(235, 66, 66, 0.5);
  border: none;
  padding: 5PX;
  border-radius: 30px;
  cursor: pointer;
}

.dialog-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  margin-top: 50px;
  overflow:hidden hidden;

}

