<app-header></app-header>
<main>
  <div id="box-cadastro">
      <mat-card class="box1Locadora">
          <mat-card-content>
              <div class="titleLocadora">
                  <mat-card-title> Locadora </mat-card-title>
              </div>
              <form >
                  <div class="formLocadora">
                          <mat-form-field appearance="fill">
                              <mat-label>Locadoura:</mat-label>
                              <input  matInput>
                              <mat-error></mat-error>
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                              <mat-label>Endereço:</mat-label>
                              <input matInput >

                          </mat-form-field>
                          <div class="ultimo-card">
                            <mat-form-field id="input-tel" appearance="fill">
                              <mat-label>Telefone:</mat-label>
                              <input  matInput  >
                              <mat-error></mat-error>
                            </mat-form-field>
                            <button  mat-flat-button class="btnCadastrar botao">Cadastrar</button>
                          </div>
                  </div>
              </form>
          </mat-card-content>
      </mat-card>
  </div>
  <div id="box-cards">
    <mat-card class="card-locadora">
      <mat-card-title-group><b>Locadora</b></mat-card-title-group>
      <span>
        <p>Rua marques, 320</p>
        <p>(11) 8888-8888</p>
      </span>
      <div>
        <button mat-flat-button class=" btnEditar " >Editar</button>
        <button mat-flat-button class=" btnExcluir " >Excluir</button>
      </div>

    </mat-card>
  </div>
</main>
<app-footer></app-footer>
