<app-header></app-header>
<div id="containerReserva">
    <form [formGroup]="form" id="containerDados" #f="ngForm" >
        <h1>Reservas</h1>
        <div id="boxNome">
            <mat-form-field appearance="fill" class="nomeCarro">
                <mat-label>Nome do Carro</mat-label>
                <mat-select class="filial" formControlName="nomeCarro" name="nomeCarro" (ngModelChange)="ListaDeLocadoraPeloCarro(form.controls['nomeCarro'].value)" >
                  <mat-option *ngFor="let carro of listaCarros" [value]="carro.id">{{carro.nome}}</mat-option>
                </mat-select>
                <mat-error  *ngIf="form.get('nomeCarro')?.hasError('required')">{{ValidacaoGeral()}}</mat-error>
            </mat-form-field>

        </div>
        <div id="boxDatas">
            <mat-form-field  appearance="fill" class="dataReserva">
                <mat-label>Data reserva:</mat-label>
                <input matInput  [matDatepicker]="dataReserva" [min]="minDiaReserva" formControlName="dataReserva" name="dataReserva" (ngModelChange)="SetarMinDiaDevolucao(form.controls['dataReserva'].value)" re>
                <mat-datepicker-toggle matSuffix [for]="dataReserva"></mat-datepicker-toggle>
                <mat-datepicker #dataReserva></mat-datepicker>
                <mat-error *ngIf="form.get('dataReserva')?.hasError('matDatepickerMin') || form.get('dataReserva')?.hasError('required')  ">{{ValidacaoDatas('dataReserva')}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="horaReserva">
                <mat-label>Horário da reserva:</mat-label>
                <input matInput type="time"  formControlName="horaReserva" name="horaReserva" placeholder="ex. 15:00">
                <mat-error *ngIf="form.get('horaReserva')?.hasError('required')">{{ValidacaoGeral()}}</mat-error>
            </mat-form-field>
            <mat-form-field  appearance="fill" class="dataDevolucao">
                <mat-label>Data da Devolução:</mat-label>
                <input matInput   [matDatepicker]="dataDevolucao1" [min]="minDiaDevolucao" formControlName="dataDevolucao" name="dataDevolucao"  >
                <mat-datepicker-toggle matSuffix [for]="dataDevolucao1"></mat-datepicker-toggle>
                <mat-datepicker #dataDevolucao1></mat-datepicker>
                <mat-error *ngIf="form.get('dataDevolucao')?.hasError('matDatepickerMin') || form.get('dataDevolucao')?.hasError('required')">{{ValidacaoDatas('dataDevolucao')}}</mat-error>
            </mat-form-field>

        </div>
        <div id="boxLocadora">
            <mat-form-field appearance="fill" class="filial">
                <mat-label>Locadora Filial 1</mat-label>
                <mat-select  formControlName="nomeFilial" name="nomeFilial"  >
                    <mat-option *ngFor="let locadora of listaLocadoras" [value]="locadora.id" >{{locadora.nome}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('nomeFilial')?.hasError('required')" >{{ValidacaoGeral()}}</mat-error>
            </mat-form-field>
            <button class="btnLogin" type="submit" *ngIf="adm || atualizar" (click)="AtualizarReserva()" [disabled]="VerificacaoFormValido()==false|| atualizar==false" ><span>Atualizar</span></button>
            <button class="btnLogin" type="submit" *ngIf="!adm " [hidden]="atualizar==true" (click)="ReservarCarro()" [disabled]="VerificacaoFormValido()==false" ><span>Reservar</span></button>
        </div>
    </form>
    <div id="containerDadosAPI" >
        <h2 *ngIf="adm">RESERVAS CADASTRADAS</h2>
        <h2 *ngIf="!adm">MINHAS RESERVAS</h2>

        <div id="cardAPI" *ngFor="let cardsCarros of reservas" >

          <mat-card  button class="botaoCard" (click)="puxarParaInput(cardsCarros)" *ngIf="adm || cardsCarros.usuarioId==usuarioId">
            <div id="imagemAPI">
                <img class="imgCarro" src="../../../assets/imagens/car1 2.png" alt="Imagem de carro de luxo" *ngIf="TipoImagem(cardsCarros.carroId)=='3'" >
                <img class="imgCarro" src="../../../assets/imagens/car2 3.png" alt="Imagem de carro sedan" *ngIf="TipoImagem(cardsCarros.carroId)=='2'" >
                <img class="imgCarro" src="../../../assets/imagens/car3 2.png" alt="Imagem de carro econômico" *ngIf="TipoImagem(cardsCarros.carroId)=='1'" >
            </div>

            <div class="boxCard">
                <div>
                    <h3>{{NomeCarro(cardsCarros.carroId)}}</h3>
                </div>

                <div>
                    <p>Horário retirada: {{cardsCarros.data|date:'shortDate'}}</p>
                </div>

                <div>
                    <p>Hora retirada: {{cardsCarros.horario}}</p>
                </div>

                <div>
                    <p>Data de devolução: {{cardsCarros.dataentrega|date:'shortDate'}}</p>
                </div>
            </div>
            <div>
              <button class="btnExcluir" *ngIf="!adm" (click)="puxarParaInput(cardsCarros)">Editar</button>
              <button class="btnExcluir" (click)="excluirUsuario(cardsCarros.id)" >Excluir Reserva</button>

            </div>
            <div>

            </div>
          </mat-card>
        </div>
    </div>
</div>
<div class="spinner" *ngIf="loading | async" >
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<app-footer></app-footer>
