<app-header></app-header>
<div id="containerReserva">
    <form [formGroup]="form" id="containerDados" >
        <h1>Reservas</h1>
        <div id="boxNome">
            <mat-form-field id="nomeCarro" appearance="fill">
                <mat-label>Nome do Carro</mat-label>
                <input matInput formControlName="nomeCarro" name="nomeCarro" placeholder="Nome do Carro">
            </mat-form-field>

        </div>
        <div id="boxDatas">
            <mat-form-field id="dataReserva" appearance="fill" >
                <mat-label>Data reserva:</mat-label>
                <input id="dataReserva" matInput formControlName="dataReserva" name="dataReserva" placeholder="dd/mm/aaaa">
            </mat-form-field>
            <mat-form-field  appearance="fill">
                <mat-label>Horário da reserva:</mat-label>
                <input id="horaReserva" matInput formControlName="horaReserva" name="horaReserva" placeholder="ex. 15:00">
            </mat-form-field>
            <mat-form-field  appearance="fill">
                <mat-label>Data da Devolução:</mat-label>
                <input id="dataDevolucao"  matInput formControlName="dataDevolucao" name="dataDevolucao" placeholder="dd/mm/aaaa">
            </mat-form-field>

        </div>
        <div id="boxLocadora">
            <mat-form-field  id="filial" >
                <mat-label>Locadora Filial 1</mat-label>
                <mat-select formControlName="nomeFilial" name="nomeFilial">
                  <mat-option value="one">First option</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="btnLogin"><span>Atualizar</span></button>
        </div>
    </form>
    <div id="containerDadosAPI" >
        <h2>RESERVAS CADASTRADAS</h2>

        <div id="cardAPI" *ngFor="let cardsCarros of carros" >

            <mat-card button class="botaoCard" (click)="puxarParaInput(cardsCarros)" >
                <div id="imagemAPI">
                    <img class="imgCarro" src="../../../assets/imagens/car3 2.png" alt="Imagem de carro econômico">
                </div>

                <div class="boxCard">
                    <div>
                        <h3>{{cardsCarros.nome}}</h3>
                    </div>

                    <div>
                        <p>Data retirada: {{cardsCarros.npessoas}}</p>
                    </div>

                    <div>
                        <p>Horário retirada: {{cardsCarros.portas}}</p>
                    </div>
                    
                    <div>
                        <p>Data de devolução: {{cardsCarros.portas}}</p>
                    </div>
                </div>

                <div>
                    <button class="btnExcluir" (click)="excluirUsuario(cardsCarros.id)" >Excluir Reserva</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<app-footer></app-footer>
