#containerReserva{
    max-width: 1140px;
    margin: auto;
    
}

h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
  }
// border-bottom: 1px solid black ;

#containerDados{
    border: 1px solid #9F9999;
    border-radius: 10px;
    margin: auto;
    padding: 70px;
    // display: flex;
    // flex-direction: column;

}

#nomeCarro{
    background: #DCE0E2;
    border-radius: 10px;
    font-size: 24px;
    margin-left: 70px;
    margin: auto;
    width: 100%;
    margin-top: 60px;
}

#tipoCarro{
    background: #DCE0E2;
    border-radius: 10px;
    font-size: 24px;
    margin: auto;
    width: 992px;
    margin-top: 40px;
}

#boxDatas{
    // border: 1px solid red;
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
}

#dataReserva, #horaReserva, #dataDevolucao{
    width: 320px;
    background: #DCE0E2;
    border-radius: 10px;
    font-size: 24px;

}

#boxLocadora{
    display: flex;
    margin-top: 40px;

}

h2{
    margin-top: 115px;
    font-size: 40px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 634px;
    border-bottom: 1px solid black;
}