<app-header></app-header>
<div id="containerReserva">
    <form id="containerDados" >
        <h1>Reservas</h1>
        <div id="boxNome">
            <mat-form-field id="nomeCarro" appearance="fill">
                <mat-label>Nome do Carro</mat-label>
                <input matInput formControlName="nomeCarro" name="nomeCarro" placeholder="Nome do Carro">
            </mat-form-field>

           
        </div>
        <div id="boxDatas">

        </div>
        <div id="boxLocadora">
             <!-- <mat-form-field id="tipoCarro" appearance="fill">
                <mat-label>Tipo</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
    </form>
    <div id="containerDadosAPI" >
        <div id="cardAPI">
            <div id="imagemAPI">
                
            </div>
            <div id="dadosAPI">

            </div>
            <div id="btnAPI">

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>